@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

* { 
    box-sizing: border-box;
}
body, input, button { 
    font-family: 'Mulish', sans-serif;
}
body { 
    background-size: auto;
    background-image: url(../imagenes/M4\ -\ DesafiÃÅo3_img-header.png);
}
div { 
    width: 50% ; 
    margin: auto; 
    padding:30px;
    background-image: url(//imagenes/M4-Desafio3-lettering.jpg)
    
}
form { 
    width: 600px; 
    background: white;  
    margin: auto; 
    height: 400px; 
    padding: 20px; 
    text-align:center; 
}
input, button { 
    display: block; 
    margin-bottom: 10px; 
    margin-left: auto; 
    margin-right:auto; 
    font-size: 23px; 
    padding: 10px; 
    width: 500px; 
    height: 50px;}

h1 { 
    font-weight: 700;
     font-size: 33px;
    }
input { 
    font-weight: 400; 
    color: #414166; 
    border: 1px solid #04146c;  
}
button { 
    font-weight: 600;
    background-color: #15163d; 
    color: white;
}